aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
bitarray==2.7.3
certifi==2022.12.7
cffi==1.15.1
chacha20poly1305-reuseable==0.2.5
charset-normalizer==3.1.0
cryptography==40.0.2
frozenlist==1.3.3
idna==3.4
ifaddr==0.2.0
mediafile==0.11.0
miniaudio==1.56
multidict==6.0.4
mutagen==1.46.0
protobuf==4.22.3
pyatv==0.13.2
pycparser==2.21
pyee==9.0.4
requests==2.29.0
six==1.16.0
srptools==1.0.1
typing_extensions==4.5.0
urllib3==1.26.15
websockets==11.0.2
yarl==1.9.2
zeroconf==0.58.2
